h1 {
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
}

hr {
  width: 20px;
  border-width: 4px;
border-color: #313131;
position: relative;
right: 100px;
bottom: 105px;
}


h2 {
  font-size: 30px;
  text-align: center;
  padding-right: 50px;
  padding-top: 70px;
}

p2 {
    text-align: justify;
}

p {
  text-align: justify;
  padding-right: 50px;
    padding-top: 40px;
}

p1 {
  text-align: justify;
  font-style: italic;
  font-weight: bold;
  padding-right: 50px;
    padding-top: 50px;
}


a {
  font-size: 20px;
  color: #78e1dd;
    text-decoration: none;
}

#menu {
  margin: 20px;
  padding: 0;
  margin-top: 80px;
  padding-left: 50px;
}

#menu div li {
  list-style-type: none;
  display: inline-block;
  color: black;
}

li a {
  list-style-type: none;
  text-decoration: none;
}

#menu div li a {
  text-decoration: none;
  position: relative;
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 20px 70px;
  text-transform: uppercase;;
}

#menu div li a:before {
  content: "";
  width: 30px;
  position: absolute;
  border-bottom: 5px solid #78e1dd;
  bottom: 0px;
  right: 300px;
  transition: 0.7s all;
color: #78e1dd;
background-color: pink;
}

#menu div li a:hover:before {
  right: 0;
color: #ff7675;
}

#menu div li a:hover {
  color: #78e1dd;
}

.unnamed img {
  width: 50%;
  height: 5%;
  padding-top: 50px:
}

.unnamed {
    padding-top: 50px:
}

#Tacok {
  padding-top: 70px;
}

#Tacoks {
  padding-top: 70px;
  transform: scaleX(-1);
}

.container h3 {
  font-size: 30px;
  color: black;
  text-decoration: none;
  padding-left: 100px;
    text-decoration: none;
}

h3 a {
  font-size: 30px;
    color: black;
    float: right;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 20%;
    text-decoration: none;
}

h3 {
    text-decoration: none;
}

h4 {
    text-decoration: none;
}


h4 a {
  font-size: 30px;
    color: black;
    float: left;
    padding-top: 55px;
    padding-bottom: 50px;
    text-decoration: none;
}

.container h4 {
  font-size: 30px;
  color: black;
  text-decoration: none;
    text-decoration: none;
}

  .jumbotron {
    background-image: url("imgs/logocopy.jpg");
    background-size: cover;
    height: 630px;
    z-index: 1;
    padding-top: 10px;
  }


  .post {
  }

  .container .post img {
    width: 850px;
    height: 600px;
  }

  .container {
    width: 100%;
  }

  iframe  {
        margin-left: 130px;
        margin-right: auto;
  }

  .embed-pdf-viewer {
    width:100%!important;
}

iframe, object, embed {
    max-width: 100%;
}

body{
  margin: 0;
  padding-bottom: 800px;
}
.slidershow{
  width: 700px;
  height: 400px;
  overflow: hidden;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #000000;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background:#808080;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}
