#menu {
  margin: 0;
  padding: 0;
  margin-top: 100px;
}

#menu div li {
  list-style-type: none;
  display: inline-block;
  color: black;
}

#menu div li a {
  text-decoration: none;
  position: relative;
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 20px 40px;
  text-transform: uppercase;;
}

#menu div li a:before {
  content: "";
  width: 30px;
  position: absolute;
  border-bottom: 5px solid #78e1dd;
  bottom: 0px;
  right: 300px;
  transition: 0.7s all;
color: #78e1dd;
background-color: pink;
}

#menu div li a:hover:before {
  right: 0;
color: #ff7675;
}

#menu div li a:hover {
  color: ##78e1dd;
}

h1 {
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  padding: 20px 40px;
  text-align: center;
  border-bottom: 5px solid #78e1dd;
}


h2 {
  color: #fa9a70;
  font-size: 15px;
  font-weight: 700;
  font-family: sans-serif;
  padding: 20px 40px;
  text-align: center;
}

.post img {
  width: 950px;
  height: 410px
}

.post1 img {
  width: 950px;
  height: 410px
}

.post {
cursor: pointer;
padding: 15px;
}

.post1 {
cursor: pointer;
padding: 15px;
}

.post:hover .post-s  {
  width: 550px;
  opacity: 80%;
}

.post-s {
  position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
  width: 550px;
  height: 400px;
  background: rgba(120, 225, 221, 0.71);
  opacity: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: #FFFFFF;
}

.post:hover .overlay {
  opacity: 70%;
}

.text {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.lay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: #FFFFFF;
}

.post1:hover .lay {
  opacity: 70%;
}

.text {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
