

#menu {
  margin: 0;
  padding: 0;
  margin-top: 100px;
}

#menu li {
  list-style-type: none;
  display: inline-block;
  color: black;
}

#menu li a {
  text-decoration: none;
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  overflow: hidden;
  transition: 0.7s all;
  padding: 20px 40px;
  text-transform: uppercase;;
}

#menu li a:before {
  content: "";
  width: 80px;
  border-bottom: 5px solid #78e1dd;
  bottom: 0px;
  right: 1000px;
  transition: 0.7s all;
color: #78e1dd;
background-color: pink;
}

#menu li a:hover:before {
  right: 100;
color: #ff7675;
}

#menu li a:hover {
  color: ##78e1dd;
}

html {
   overflow-x: hidden;
}


h1 {
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  padding: 20px 40px;
  text-align: center;
  border-bottom: 5px solid #78e1dd;
}

h3 {
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  border-bottom: 5px solid #78e1dd;
  width: 1900px;
  border-bottom-right-radius: 200px;
}



h2 {
  color: #fa9a70;
  font-size: 15px;
  font-weight: 700;
  font-family: sans-serif;
  padding: 20px 40px;
  text-align: center;
}

.post img {

  position: relative;

  display: block;
  width: 680px;
  height: 480px
}

.post {
cursor: pointer;
position: relative;
right: 127px;
}

.post:hover .post-s  {
  width: 680px;
  opacity: 80%;
}

.post-s {
  position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
  width: 680px;
  height: 480px;
  background: rgba(120, 225, 221, 0.71);
  opacity: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}

.post-s h5 {
    font-family: "open sans";
  color: white;
  font-size: 30px;
  border: 4px solid white;
  padding: 10px 30px;
}


.post1 img {
  width: 680px;
  height: 480px
}

.post1 {
cursor: pointer;
width: 680px;
height: 480px;
}

.post1:hover .post-s1  {
  width: 680px;
  opacity: 80%;
}

.post-s1 {
  width: 680px;
  height: 480px;
  background: rgba(120, 225, 221, 0.71);
  opacity: 0%;
  position: relative;
  bottom: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}

.post-s1 h5 {
    font-family: "open sans";
  color: white;
  font-size: 30px;
  border: 4px solid white;
  padding: 10px 30px;

}

.post2 img {
  display: block;
  width: 680px;
  height: 480px
}

.post2 {
cursor: pointer;
position: relative;
right: 127px;
width: 680px;
height: 480px;
}

.post2:hover .post-s2  {
  width: 680px;
  opacity: 80%;
}

.post-s2 {
  position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
  width: 680px;
  height: 480px;
  background: rgba(120, 225, 221, 0.71);
  opacity: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}

.post-s2 h5 {
    font-family: "open sans";
  color: white;
  font-size: 30px;
  border: 4px solid white;
  padding: 10px 30px;
}

.post3 img {

  position: relative;

  display: block;
  width: 680px;
  height: 480px
}

.post3 {
  padding-top: 20px;
cursor: pointer;
width: 680px;
height: 480px;
}

.post3:hover .post-s3  {
  padding-top: 20px;
  width: 680px;
  opacity: 80%;
}

.post-s3 {
  padding-top: 20px;
  position: absolute;
   top: 0;
   bottom: 0;
   left: 15;
   right: 0;
  width: 680px;
  height: 480px;
  background: rgba(120, 225, 221, 0.71);
  opacity: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}

.post-s3 h5 {
    font-family: "open sans";
  color: white;
  font-size: 30px;
  border: 4px solid white;
  padding: 10px 30px;
}

.col-sm-6
padding: 20px;
