html {
   overflow-x: hidden;
   height: 1000px;
   padding-top: 150px;
   padding-bottom: 150px;
   margin-bottom: 0;
   overflow-y: visible;
}


h1 {
  position: relative;
  bottom: 60px;
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  padding: 20px 40px;
  text-align: center;
  border-bottom: 5px solid #78e1dd;
}

h3 {
  position: relative;
right: 430px;
bottom: 1370px;
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  border-bottom: 5px solid #78e1dd;
  width: 1900px;
  border-bottom-right-radius: 200px;
}



h2 {
  postion: relative;
  left: 500px;
  color: #fa9a70;
  font-size: 15px;
  font-weight: 700;
  font-family: sans-serif;
  padding: 20px 40px;
  text-align: center;
}

hr {
  width: 20px;
  border-width: 2px;
border-color: #313131;
position: relative;
right: 100px;
bottom: 50px;
}

hr1 {
  position: relative;
  bottom: 400px;
  z-index: 1;
}
